venv/
__pycache__/
*.pyc
alerts.db
eve_offset.txt
.streamlit/secrets.toml
.streamlit/
# Ignore large generated JSON rule files
*.json
# Ignore all SQLite database files
*.db

# Ignore any generated archive files/folders with timestamps
alerts_archive*